{
  "Parameters": {
    "SERVER_ENV": "AWS",
    "HOST": "",
    "PORT": "3000",
    "RDS_HOST": "127.0.0.1",
    "RDS_PORT": "5432",
    "RDS_NAME": "goserverless",
    "RDS_USER": "postgres",
    "RDS_PASS": "secret",
    "RDS_SSL": "disable",
    "QUEUE_URL": "http://127.0.0.1:4566/000000000000/goserverless-queue-dev",
    "AWS_REGION": "eu-central-1",
    "RDS_ARN": "",
    "SQS_ARN": "",
    "JWT_SECRET": ""
  }
}